<p id="notice"><%= notice %></p>

<p>
  <strong>Document name:</strong>
  <%= @document_template.document_name %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @document_template.document_type %>
</p>

<%= link_to 'Edit', edit_document_template_path(@document_template) %> |
<%= link_to 'Back', document_templates_path %>
