<p id="notice"><%= notice %></p>

<h1><%= @company.company %></h1>

<%= render partial: "show" %>

<h4>My sales contact at Plezi:</h4>
Claire Kilic<br>
claire.kilic@plezi.co<br>
06 06 06 06 06


<h4>My process</h4>
<% @steps.each do |step| %>
  <% if @company.step_id == step.id %>
    <b><%= step.step_name %></b>
  <% else %>
    <%= step.step_name %>
  <% end %>
<% end %>

<h4>My documents</h4>
<%= link_to "Add a document", new_document_url %>

<h4>Next steps</h4>
<%= link_to "Add a step", new_document_url %>

<div class="">
  <%= link_to 'Edit', edit_company_path(@company) %> |
  <%= link_to 'Back', companies_path %>
</div>
