<p id="notice"><%= notice %></p>

<h1>Config Steps</h1>

<table>
  <thead>
    <tr>
      <th>Step name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @config_steps.each do |config_step| %>
      <tr>
        <td><%= config_step.step_name %></td>
        <td><%= link_to 'Show', config_step %></td>
        <td><%= link_to 'Edit', edit_config_step_path(config_step) %></td>
        <td><%= link_to 'Destroy', config_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Config Step', new_config_step_path %>
